<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>카카오톡 복붙 편하게 하셈</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='style.css') }}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script>
		function register() {
			$.ajax({
				type: "POST",
				url: "/datareceive",
				data: { id_give:$('#myid').val()},
				success: function(data){
					if(data['result'] == 'success'){
						alert('종목명을 올바르게 입력하셨습니다, 잠시만 기다려주세요...')
					    window.location.href = 'https://docs.google.com/spreadsheets/d/1EnhORy1fEU-ISlLCEPEpZNuxBVZ0gA9E4uHorLQLJCY/edit#gid=0!';
					} else {
					    alert('종목명을 다시 입력하세요!');
					}
				}
			})
		}
	</script>
</head>
<body>
	<div class="myregister">
		<div class="jumbotron mytron">
		  <h1 class="display-4 title">종목 명을 입력하세요</h1>
		  <p class="lead title">거래량 내역을 구글 스프레드 시트로 드립니다</p>
		</div>
	  <div class="form-group">
	    <label for="exampleInputEmail1">기업명</label>
	    <input type="email" class="form-control" id="myid" aria-describedby="emailHelp" placeholder="기업 이름을 입력하세요">
	  </div>
	  <button id="btn-register" class="btn btn-primary" onclick="register()">입력</button>
	</div>
</body>
</html>
